.so-widget-sow-image-default-9e90369adebe .sow-image-container {
  text-align: right;
}
.so-widget-sow-image-default-9e90369adebe .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  width: inherit;
  height: auto;
}